.git
.github
.env
.env.*
!.env.docker
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/database.sqlite
tests
.phpunit.cache
.idea
.vscode
*.md
!README.md
